

.custom-input {
  margin-top: 10px;
  background-color: white;
  color: black;
}

.custom-input2 {
  background-color: whitesmoke;
  color: black;
}

.iconbuttons1:hover {
  opacity: 55%;
}

.iconbuttons2:hover {
  color: green;
  border-color: green;
}

#header-title {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 6px 2px 6px #030202;
  text-align: center;
}
