

.custom-input {
  margin-top: 10px;
  background-color: white;
  color: black;
}

.custom-input2 {
  background-color: whitesmoke;
  color: black;
}

.iconbuttons1:hover {
  color: rgb(154, 120, 32);
  border-color: rgb(154, 120, 32);
}

.iconbuttons2:hover {
  color: rgb(156, 12, 12);
  border-color: rgb(212, 20, 20);
}

#header-title {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 6px 2px 6px #030202;
  text-align: center;
}
